.container {
  height: 100vh;
  animation-duration: 200;
  max-width: 600px;
  text-align: center;
}

.container-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: fit-content;
  border-radius: 15px;
  background-color: azure;
}

button {
  margin: 5px; 
  border-radius: 15px;
  -webkit-text-fill-color: white;

}

